<section class="p-4 space-y-4" *ngIf="vm$ | async as vm">
  <h2 class="text-2xl font-semibold">Preparación</h2>

  <div class="bg-gray-50 rounded-2xl shadow-sm p-4">
    <app-filters-bar
      [fields]="fields"
      [value]="{ estado: vm.q.estado}"
      (change)="onFilters($event)"
      (cleared)="onCleared()"
    />
  </div>


  <app-error-state
    *ngIf="vm.error"
    [message]="'No se pudo cargar las órdenes.'"
    (retry)="onFilters(vm.q)"
  ></app-error-state>

  <app-empty-state
    *ngIf="!vm.error && !vm.loading && vm.count === 0"
    title="Sin órdenes"
    subtitle="Ajusta los filtros e inténtalo nuevamente."
  ></app-empty-state>

  <div *ngIf="!vm.error && vm.count > 0" class="bg-gray-50 rounded-2xl shadow-sm p-2">
    <app-table
      *ngIf="!vm.error && vm.count > 0"
      [columns]="columns"
      [data]="vm.data"
      [loading]="vm.loading"
      [length]="vm.count"
      [rows]="ROWS"
      [first]="firstOf(vm.q.page)"
      [pageIndex]="vm.q.page - 1"
      (page)="onPage($event, vm.q)"
    >
    </app-table>
  </div>

</section>
